
.cart__container {
  border: 1px solid lightgray;
  border-radius: 4px;
}

.cart__container + .cart__container {
  margin-top: 20px;
}

.cart__summary, .cart__content {
  padding: 12px 24px;
}

.cart__summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  transition: background-color 0.15s linear;
}

.cart__summary:hover {
  background-color: #f0f0f0;
}

.cart__summary-label {
  font-size: 20px;
  font-weight: bold;
}

.cart__summary-icon {
  flex-shrink: 0;
  margin-left: 25px;
  transition: transform 00.15s linear;
}

.cart__summary-icon--open {
  transform: rotate(180deg);
}

.cart__content {
  display: flex;
  border-top: 1px solid lightgray;
}

.cart__content-icon-wrapper {
  flex-shrink: 0;
  margin-right: 12px;
}
